{% extends "Taxi/baseTaxi.html.twig" %}

{% block contenido %}
    <h2 class="card-title">Listado de Taxis</h2>
    {% for taxi in taxis %}
    <div class="col-md-16 ">
        <div class="card mb-4 otrocolor">
            {% if taxi.modelo is empty %}
                <div class="no-imagen">No se proporcionó una imagen del taxi</div>
            {% else %}
                <img src="{{ taxi.modelo }}" class="card-img-top" alt="{{ taxi.marca }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title2">{{ taxi.marca }}</h5>
                <p class="card-text">Velocidad: {{ taxi.velocidad }}</p>
                <a href="{{ path('getTaxi', {'id': taxi.id}) }}" class="btn btn-primary">Más Info</a>
                <a href="{{ path('editTaxi', {'id': taxi.id}) }}" class="btn btn-outline-primary">Editar</a>
                <a href="{{ path('deleteTaxi', {'id': taxi.id}) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar este taxi?')">Eliminar</a>
            </div>
        </div>
    </div>
{% endfor %}

    </div>
{% endblock %}



